/* @font-face {
  font-family: "futirism";
  src: url("./Futurism.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "futirism";
  src: url("./Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
